.user-login-page{
  background: url(../../assets/gradientBG.png) no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  display:flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
 
  .form-container{
    background: #ffffff63;
    height: 80vh;
    width: 80vw;
    padding: 1rem 0 1rem 1rem;
    >div:last-child{
      min-height: 100%;
    .row{
      margin: 0;
      min-height: 100%;
    >div:last-child{
      background-color: #fff;
      height: max-content;
  }
}
}
}
}